<?xml version="1.0" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>NSRequiresAquaSystemAppearance</key>
        <true/>
        <key>CFBundleExecutable</key>
        <string>spinide</string>
        <key>CFBundleGetInfoString</key>
        <string>Integrated development environment for Parallax Propeller microcontrollers.</string>
        <key>CFBundleIconFile</key>
        <string>spinide.icns</string>
        <key>CFBundleIdentifier</key>
        <string>com.maccasoft.propeller.spinide</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>SpinIDE</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>0.51.0</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleVersion</key>
        <string>0.51.0</string>
        <key>NSHighResolutionCapable</key>
        <true/>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundleDisplayName</key>
        <string>Spin Tools IDE</string>
        <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>spin</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>Spin Source</string>
                <key>CFBundleTypeMIMETypes</key>
                <array>
                    <string>text/x-spin</string>
                </array>
                <key>CFBundleTypeRole</key>
                <string>Viewer</string>
            </dict>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>spin2</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>Spin2 Source</string>
                <key>CFBundleTypeMIMETypes</key>
                <array>
                    <string>text/x-spin2</string>
                </array>
                <key>CFBundleTypeRole</key>
                <string>Viewer</string>
            </dict>
        </array>
    </dict>
</plist>
