<?xml version="1.0" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundleExecutable</key>
        <string>spinide</string>
        <key>CFBundleIconFile</key>
        <string>spinide.icns</string>
        <key>CFBundleIdentifier</key>
        <string>com.maccasoft.propeller.SpinTools</string>
        <key>CFBundleDisplayName</key>
        <string>Spin Tools IDE</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>Spin Tools IDE</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>0.43.0</string>
        <key>CFBundleVersion</key>
        <string>1.0</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>NSHumanReadableCopyright</key>
        <string>2025 Marco Maccaferri</string>
        <key>LSMinimumSystemVersion</key>
        <string>10.7</string>
        <key>LSApplicationCategoryType</key>
        <string>public.app-category.developer-tools</string>
        <key>LSUIElement</key>
        <false/>
        <key>NSHighResolutionCapable</key>
        <true/>
        <key>NSSupportsAutomaticGraphicsSwitching</key>
        <true/>
        <key>IgnorePSN</key>
        <false/>
        <key>NSRequiresAquaSystemAppearance</key>
        <false/>
        <key>CFBundleDocumentTypes</key>
        <array>
        </array>
        <key>LSEnvironment</key>
        <dict>
            <key>LC_CTYPE</key>
            <string>UTF-8</string>
        </dict>
    </dict>
</plist>
