name: Release

on:
  push:
    tags: [ '*' ]

jobs:
  build-linux-x86_64:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
        cache: 'maven'

    - name: build-launcher
      run: |
        make -C launcher clean all

    - run: |
        mvn --batch-mode -DskipTests package

    - uses: softprops/action-gh-release@v2
      with:
        files: |
          target/spin-tools*

  build-linux-aarch64:
    runs-on: ubuntu-22.04-arm

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
        cache: 'maven'

    - name: build-launcher
      run: |
        make -C launcher clean all

    - run: |
        mvn --batch-mode -DskipTests package

    - uses: softprops/action-gh-release@v2
      with:
        files: |
          target/spin-tools*

  build-windows-x86_64:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
        cache: 'maven'

    - name: setup-mingw64
      uses: msys2/setup-msys2@v2
      with:
        msystem: MINGW64
        update: true
        install: make zip
        pacboy: gcc dlfcn

    - name: build-launcher
      shell: msys2 {0}
      run: |
        make -C launcher clean all

    - run: |
        mvn --batch-mode -DskipTests package

    - uses: softprops/action-gh-release@v2
      with:
        files: |
          target/spin-tools*

  build-macos-x86_64:
    runs-on: macos-15-intel

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
        cache: 'maven'

    - run: |
        mvn --batch-mode -DskipTests package

    - uses: softprops/action-gh-release@v2
      with:
        files: |
          target/spin-tools*

  build-macos-aarch64:
    runs-on: macos-15

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
        cache: 'maven'

    - run: |
        mvn --batch-mode -DskipTests package

    - uses: softprops/action-gh-release@v2
      with:
        files: |
          target/spin-tools*
